<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Attendance Manager</title>
    <link rel="stylesheet" href="stylesheets/login-style.css">
</head>
<body>
        <div id="particles-js"></div>
        <div class="main">
            <div><h1>Log-In</h1></div>

            <div class="mainbox">
                <div class="sub-main">
                    <form action="/login" method="POST">
                        <input placeholder="Username or E-mail" name="Name" class="user" type="text" required=""><br>
                        <input  placeholder="Password" name="Password" class="pass" type="password" required=""><br>
                        <input type="submit" value=""> <br><br>
                        <a id="forgotpass" href="forgotpass.html">Forgot password?</a><br><br>
                        <a id="register" href="register.html">Register</a>
                    </form>

                </div>

            </div>
        </div>

        <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>

        <script>
            particlesJS.load('particles-js', 'particles.json',
            function(){
                console.log('particles.json loaded...')
            })
        </script>

</body>
</html>